{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">{{ mode }}</button>
    </form>

    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

{% endblock %}